<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./chat.css" />
</head>
<body>

    <!-- Chat -->
    <div id="chat-component">
        <div class="chat-container" id="chatcontainer">
            <div class="chat" id="chat">
            </div>
            <div class="input-container">
                <input type="text" id="message" placeholder="Escribe un mensaje...">
                <button id="enviar">Enviar</button>
            </div>
        </div>
    </div>
    <!-- Chat -->
    
    <script src="./chat-module.js" type="module"></script>
</body>
</html>