body {
    background-image: url('./resource/fondo.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}


main {
    background-color: rgba(119, 28, 28, 0.94);
    text-align: center;
    padding: 50px;
}

.logo {
    margin-bottom: 20px;
}